/* About Section */
.about-section {
  padding: 120px 0;
  background: var(--white-color); 
}

/* Contenedor interno */
.about-section .section-content {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center; 
  flex-wrap: wrap;
}

/* Imagen */
.about-section .about-image-wrapper .about-image {
  width: 512px;
  height: 512px;
  object-fit: cover;
  border-radius: 8px;
}

/* Detalles de texto */
.about-section .about-details {
  max-width: 60%;
}

.about-section .about-details .text {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 30px;
  font-size: 1rem;
  text-align: justify;
  margin: 0;
  padding-right: 55px;
}

/* Modo oscuro */
body.dark-mode .about-section {
  background: #1a1a1a; 
}

body.dark-mode .about-section .about-details .text {
  color: #f5f5f5;
}

/* Responsive */
@media screen and (max-width: 900px) {
  /* Contenedor interno */
  .about-section .section-content {
    gap: 150px;
    flex-direction: column;
  }

  /* Imagen */
  .about-section .about-image-wrapper .about-image {
    width: 100%;
    max-width: 250px;
    height: auto;
  }

  /* Detalles de texto */
  .about-section .about-details {
    max-width: 100%;
  }
}